<!-- Ignore this part, it is only here to position drawer inside the example block -->
<div class="custom-portal"><ng-container #viewContainer /></div>


<div style="height: 100vh;display: flex;flex-direction: column;">
  <header tuiNavigationHeader>
    <button
        title="Menu"
        tuiIconButton
        tuiNavigationDrawer
        type="button"
        [(open)]="open"
    >
        <tui-data-list>
            <tui-opt-group
                *ngFor="let group of drawer | keyvalue"
                [label]="group.key"
            >
                <button
                    *ngFor="let item of group.value"
                    tuiOption
                    type="button"
                    (click)="open = false"
                >
                    <img
                        alt="icon"
                        [src]="item.icon"
                    />
                    {{ item.name }}
                </button>
            </tui-opt-group>
            <tui-opt-group>
                <label tuiOption>
                    <input
                        size="s"
                        tuiSwitch
                        type="checkbox"
                        [(ngModel)]="switch"
                    />
                    Dark mode
                </label>
            </tui-opt-group>
        </tui-data-list>
    </button>
    <span tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span tuiFade>A very very long product name</span>
        <tui-badge>Test</tui-badge>
    </span>
    <button
        appearance="secondary-grayscale"
        tuiButton
        tuiChevron
        tuiDropdownOpen
        type="button"
        [tuiDropdown]="products"
    >
        <span tuiFade>A very very long project</span>
        <ng-template #products>
            <tui-data-list size="s">
                <button
                    tuiOption
                    type="button"
                >
                    A very very long project
                    <tui-icon
                        icon="@tui.check"
                        [style.font-size.em]="1"
                        [style.margin-left.rem]="0.5"
                    />
                </button>
                <button
                    tuiOption
                    type="button"
                >
                    Something else
                </button>
            </tui-data-list>
        </ng-template>
    </button>
    <hr />
    <button
        appearance="secondary-grayscale"
        iconStart="@tui.plus"
        tuiButton
        type="button"
    >
        Create
    </button>
    <button
        iconStart="@tui.bell"
        tuiIconButton
        type="button"
    >
        Notifications
        <tui-badge-notification />
    </button>
    <button
        iconStart="@tui.ellipsis"
        tuiIconButton
        type="button"
    >
        More
    </button>
    <tui-avatar src="AI" />
  </header>
  
  <div [style.display]="'flex'" style="flex: auto;">
      <aside
        style="z-index: 100;"
          [tuiNavigationAside]="expanded"
      >
          <!-- <header>
              <button
                  iconStart="@tui.home"
                  tuiAsideItem
                  type="button"
              >
                  <span tuiFade>A very very long product name</span>
              </button>
          </header> -->
          <button
              iconStart="@tui.calendar-check"
              tuiAsideItem
              type="button"
          >
              Reservations
          </button>
          <button
              iconStart="@tui.users"
              tuiAsideItem
              [routerLink]="'guests'"
          >
              Guests
          </button>
          <button
              automation-id="hint"
              iconStart="@tui.lamp"
              tuiAsideItem
              type="button"
          >
            Rooms
        </button>
  
          <footer>
           
              <button
                  tuiAsideItem
                  type="button"
                  [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
                  (click)="expanded = !expanded"
              >
                  {{ expanded ? 'Collapse' : 'Expand' }}
              </button>
          </footer>
      </aside>
      
  
      <div style="flex:auto">
        <nav
            style="padding: 5px 10px 0 10px;"
            compact
            tuiSubheader
            [style.position]="'sticky'"
        >
            <tui-breadcrumbs [itemsLimit]="10">
                <ng-container *ngFor="let item of breadcrumbs; let last = last">
                    <ng-container *ngIf="last">
                        <strong
                            *tuiItem
                            tuiFade
                        >
                            {{ item }}
                        </strong>
                    </ng-container>
                    <ng-container *ngIf="!last">
                        <button
                            *tuiItem
                            tuiLink
                            type="button"
                        >
                            {{ item }}
                        </button>
                    </ng-container>
                </ng-container>
            </tui-breadcrumbs>
            <tui-tabs tuiFade>
                <button
                    tuiTab
                    type="button"
                >
                    Default view
                </button>
                <button
                    tuiTab
                    type="button"
                >
                    Details
                </button>
                <button
                    tuiTab
                    type="button"
                >
                    Followers
                </button>
            </tui-tabs>
            <button
                appearance="secondary"
                tuiButton
                type="button"
            >
                Secondary
            </button>
            <button
                tuiButton
                type="button"
            >
                Primary
            </button>
        </nav>
     

     

        <router-outlet></router-outlet>


    </div>
  
  </div>
</div>

