/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;


.clickable{
    cursor: pointer!important;
}

tui-dropdown{
    z-index: 4!important;
}

tui-data-list{
    z-index: 4!important;

}



  tui-primitive-textfield{
    background-color: #374151!important;
  }

//   tui-calendar-sheet{
//     display: none!important;
// }
